# Archivos de configuración de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.log

# Archivos de configuración del entorno virtual (si usas uno)
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Archivos de configuración de herramientas de desarrollo
*.idea/
*.vscode/
*.editorconfig

# Archivos de configuración de tests
*.coverage
.coverage.*
nosetests.xml
pytest*
tox.ini
*.hypothesis/

# Archivos de configuración de dependencias
pip-log.txt
pip-delete-this-directory.txt
